<h1>Home</h1>

<h3>Introduction</h3>
<p>Welcome to the Raspberry Pi Streaming Center. Here you can see your own local camera (If enabled) and other remote cameras. Please keep in mind, that you can only controll your own camera</p>
<ul>
	<li><a href="index.php?page=local-camera">Local camera</a></li>
	<li><a href="index.php?page=remote-cameras">Remote cameras</a></li>
</ul>

<h3>Contact</h3>
<p>For problems and feedback please contact Simon Wächter (<a href="mailto:waechter.simon@gmail.com">waechter.simon@gmail.com</a>).</p>
