<form method="post">
	<h1>Radiosender</h1>
	<div class="form-group">
		<h2>Suche</h1>
		<label>Suche (Y-m-d H:m:s - Suche nach Teilkomponenten/Substrings ist möglich)</label>
		<input name="playdate" id="playdate" type="text" class="form-control"></input>
	</div>
	<div class="form-group">
		<h2>Lieder</h1>
		<div id="tracks"></div>
	</div>
</form>
