<!DOCTYPE  HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Radiostation">
		<meta name="author" content="Simon Wächter">
		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="{{{script}}}"></script>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="styles/style.css" rel="stylesheet">
		<link href="images/favicon.ico" rel="shortcut icon">
		<title>Radiostation</title>
	</head>
	<body>
		<div id="wrap">
			<div id="content" class="container">
				{{{content}}}
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<p class="text-muted credit">Simon Wächter - GNU GPL v3 <a href="https://github.com/swaechter/web-radiostation-de">Projekt auf Github</a></p>
			</div>
		</div>
	</body>
</html>
