<form id="form-user-edit-panel" method="post">
	<h1>Mitarbeiter bearbeiten</h1>
	<p>Bearbeiten Sie den ausgewählten Mitarbeiter.</p>
	<div class="form-group">
		<label>Mitarbeiter-ID</label>
		<input name="iduser" value="{{iduser}}" class="form-control" type="number" maxlength="100" readonly required>
	</div>
	<div class="form-group">
		<label>Vorname *</label>
		<input name="firstname" value="{{firstname}}" class="form-control" type="text" maxlength="100" required>
	</div>
	<div class="form-group">
		<label>Nachname *</label>
		<input name="lastname" value="{{lastname}}" class="form-control" type="text" maxlength="100" required>
	</div>
	<div class="form-group">
		<label>Position *</label>
		<select name="position" class="form-control" required>
			<option value="0">-</option>
			<option value="1">Mitarbeiter</option>
			<option value="2">Geschäftsleitung</option>
		</select>
	</div>
	<div class="form-group">
		<label>Bezahlter Stundenlohn *</label>
		<input name="inhouseprice" value="{{inhouseprice}}" class="form-control" type="number" min="0" required>
	</div>
	<div class="form-group">
		<label>Verrechneter Stundenlohn *</label>
		<input name="outhouseprice" value="{{outhouseprice}}" class="form-control" type="number" min="0" required>
	</div>
	<div class="form-group">
		<label>Soll Stunden *</label>
		<input name="quota" value="{{quota}}" class="form-control" type="number" step="0.1" min="0" max="100" required>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Bearbeiten</button>
</form>
