<form id="form-settings" method="post">
	<h1>Einstellungen</h1>
	<p>Bearbeiten Sie ihre eigenen Einstellungen.</p>
	<div class="form-group">
		<label>Neues Passwort *</label>
		<input name="password1" class="form-control" type="password" maxlength="100" required>
	</div>
	<div class="form-group">
		<label>Neues Passwort wiederholen *</label>
		<input name="password2" class="form-control" type="password" maxlength="100" required>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Bearbeiten</button>
</form>
