<h1>Willkommen</h1>
<p>Hier sehen Sie die neue Zeiterfassung, welche sich noch im Aufbau befindet. Wir bitten um Ihre Geduld! Je nachdem ob Sie ein normaler Mitarbeiter oder ein Teil der Geschäftsleitung sind, können Sie unterschiedliche Funktionen verwenden.</p>
<h2>Mitarbeiter</h3>
<ul>
	<li>Zeit erfassen und ändern</li>
	<li>Zeit als Statistik ansehen</li>
	<li>Eigene Einstellungen ändern</li>
</ul>
<h2>Geschäftsleitung</h3>
<ul>
	<li>Mitarbeiter erstellen, bearbeiten und löschen</li>
	<li>Kunden erstellen, bearbeiten und löschen</li>
	<li>Projekte erstellen, bearbeiten und löschen</li>
	<li>Zeit der Mitarbeiter und Projektgewinne als Statistik ansehen</li>
	<li>Eigene Einstellungen ändern</li>
</ul>
<h2>Hilfe und Kontakt</h2>
<p>Bei Fragen oder Unklarheiten wenden Sie sich bitte an Simon Wächter <a href="mailto:waechter.simon@gmail.com">(waechter.simon@gmail.com)</a>  - dem Autor dieser Zeiterfassung. Ich würde mich über Ihr Feedback freuen.</p>
