[submodule "src/libraries/getID3"]
	path = src/libraries/getID3
	url = git://github.com/JamesHeinrich/getID3.git
[submodule "src/libraries/mustache"]
	path = src/libraries/mustache
	url = git://github.com/bobthecow/mustache.php.git
