<div id="page-footer">
	<div class="container">
		<p class="text-muted credit">Simon Wächter - GNU GPL v3 <a href="https://github.com/swaechter/web-timetracking-de">Projekt auf Github</a></p>
	</div>
</div>
