<h1>Home</h1>
<h2>Introduction</h2>
<p>Welcome to the Panorama View website. Here you can see all panorama pictures from the last 14 days. You also have the possibility to control the camera.</p>
<ul>
	<li><a href="index.php?page=gallery">Gallery</a></li>
	<li><a href="index.php?page=camera">Camera</a></li>
</ul>
<h2>Contact</h2>
<p>For problems and feedback please contact Simon Wächter (<a href="mailto:waechter.simon@gmail.com">waechter.simon@gmail.com</a>).</p>
